[flake8]
exclude = .git,
			__pycache__,
			build,distvenv,
			.venv,
			lang/json,
			tools/clang-tidy-plugin/test/check_clang_tidy.py
ignore =
    E265,
    W504,
    E203,
    E501,
    W503,
    W605
